body {
  background-color: rgb(170, 186, 192);
/*This changes the font from left to right and if the first is not avalable it goes to the next*/
  font-family: "Inter", Arial, sans-serif;
}

/*Links have no underline*/
a {
  text-decoration: none;
}

/*Small thing for project title*/
.projects-title {
  text-decoration: underline;
  margin-left: 20px;
}


/*The box for the project cards*/
.project-card{
    /*Makes the box fit the content so it does not take up the whoel screen*/
    width: fit-content;

    /*Padding is how ever many pixels on each side so you have space inside the element*/
    padding: 20px;

    /*Border uses width then line style then color*/
    border: 1px solid #ccc;

    /*Controls how rounded the corners are*/
    border-radius: 10px;

    /*Color of the cards background*/
    background: #f9f9f9;

    /*Add a shdow behind the card*/
    /*Horizontal offset, Vertical offset, blur radius, RGB and opacity*/
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);

    margin-left: 20px;
}

/*Change the main header which is my name and opening*/
.main-header {
  h1 {
    /*Makes it center and how much space it has*/
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    text-decoration: underline;
  }
  p {
    /**/
    text-align: center;
    margin: 20px;
    font-size: large;
    font-weight: bolder;
  }
}

.Links{
    h2{
        margin-bottom: 20px;
        margin-left: 20px;
        text-decoration: underline;
    }
    a{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 20px;
        /*Block puts it on it's own line so they can be spaced*/
        display: block;
    }
}